# Ignore everything in this directory
/*


# Except these files

!/wp-content
/wp-content/*

!/wp-content/themes
/wp-content/themes/*

!/wp-content/themes/pixelpower
/wp-content/themes/pixelpower/*
!/wp-content/themes/pixelpower/*

!/wp-content/themes/pixelpower-child
/wp-content/themes/pixelpower-child/*
!/wp-content/themes/pixelpower-child/*

!.gitignore